body {
    width: 100vw;
    height: 100vh;
    background: url("./assets/background/winter.jpg");
    background-size: auto 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.today.overview {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.week ul {
    display: flex;
    justify-content: space-evenly;
}

.weather-info ul li {
    display: grid;
    grid-template-areas:
        "img title"
        "img stat";
}

.filter-white {
    filter: brightness(0) invert(1);
}

#feels-like-image,
#humidity-image {
    filter: brightness(0) invert(1);
    grid-area: img;
}

.info.title {
    grid-area: title;
}

#feels-like,
#humidity {
    grid-area: stat;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 2px;
}

input {
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid white;
}

#search-button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

#search-image {
    width: 1.5em;
    height: 1.5em;
    filter: brightness(0) invert(1);
}

img[alt~="snow"] {
    filter: brightness(0) invert(1);
}

#error-message {
    margin-top: 8px;
    color: red;
    font-size: 12px;
}
